:root {
  font-size: 20px;
}

body {
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  font-family: 'Helvetica Neue', sans-serif;
}

header {
  background-color: rgb(200, 174, 25);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px #A8A8A8;
  transition: background-color 0.3s ease;
  border: 2px solid transparent;
  transition: border 0.5s ease-out;
  transition: transform 0.3s ease;
}
/*I added a hover element to my header. The header will turn grey and bounce when the mouse hovers over it and the links will turn purple*/
header:hover {
  background-color: #555;
  color: #000000;
  border-color: #9604d9;
  transform: translateY(-10px);
  animation: bounce 0.5s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}
/*I added a media element so my webpage would be compatible with phones*/
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  
  nav {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .content {
    width: 100%;
  }
}
.developer-info {
  display: flex;
  align-items: center;
  border-radius: 25%;
}

.developer-info img {
  width: 150px;
  height: 200px;
  border-radius: 1em;
  margin-right: 1em;
}

.developer-info h1 {
  font-size: 2em;
  color: #2B2D42;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #9604d9;
}

nav li:not(:last-child) {
  margin-right: 1em;
}

nav a {
  color: #2B2D42;
  text-decoration: none;
  font-size: 1.2em;
}
/*This is where I added the code that turn my nav links in the header to turn purple when the mouse hovers over them*/
nav a:hover {
  color: #9604d9;
}

main {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 2em 0;
  padding: 2em;
  background-color: rgb(200, 174, 25);
  border-radius: 1em;
  box-shadow: 0 0 10px #A8A8A8;
  transition: box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease;
  border: 2px solid transparent;
  transition: border 0.5s ease-out;
}
/*I added a box shadow element to my about me and work section so they turn grey and have a glow effect when hovered over*/
section:hover {
  background-color: #555;
  border-color: #9604d9;
  box-shadow: 0 0 20px #5acec6;
}

section h2 {
  font-size: 2em;
  margin-bottom: 1em;
  color: #000000;
}

section img {
  width: 50%;
  Height: 20%;
}

section p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #000000;
}

.applications {
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.applications>div {
  border: solid 2px rgb(0, 0, 0);
  width: 100%;
  margin: 1rem;
}

.applications iframe {
  margin: 2em;
}
/*First image in my work section, I made sure to place it in the center*/
.applications-banner figure {
  width: 75%;
  display: block;
  margin-left: 19rem;
  margin-right: auto;
}

.applications-other {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.applications-other>div {
  width: 25%;
  margin: 1rem 0.25rem;
  border: solid 2px rgb(0, 0, 0);
}

.figure {
  margin: 0.5rem 1rem;
  display: block;
  position: relative;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.figure:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.figure>img {
  width: 100%;
}

.Contact {
transition: transform 0.3s ease;
}
/*Another hover element, the contact section will enlarge when hovered over*/
.Contact:hover {
  transform: scale(1.1);
}

.Resume {
  transition: transform 0.3s ease;
}
/*The resume section will enlarge when hovered over*/
.Resume:hover {
  transform: scale(1.1);
}

footer {
  background-color: #295063;
  padding: 1em;
  text-align: center;
  color: #07091b;
}